.public {
  position: relative;
  background-image: url("building-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background image */
  width: 100%;
}

.main-content {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 20px;
  max-width: 1000px;
  margin: 0 10px; /* Center horizontally */ /* Adjust the left and right margins */
  justify-content: start;
}
.flex-container {
  display: flex;
  align-items: flex-start;
}
.left-component {
  flex: 3; /* Adjust the width of the left component */
  max-width: 150%; /* Limit the maximum width of the left component */
  margin-right: 20px;
}

.right-component {
  flex: 2; /* Adjust the width of the right component */
  max-width: 5%; /* Limit the maximum width of the right component */
  margin-left: 20px; /* Move the right component to the end */
  display: flex;
}

.content {
  flex: 1;
  padding: 0px;
  margin-left: 20px;
}
.morebutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  gap: 10px;
}
.morebutton:hover {
  background-color: slategray;
}
.HelpIcon {
  display: none;
}

/* Header styles */
header {
  background-color: #93b4d3;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Space the logo and search bar apart */
  align-items: center; /* Center vertically */
}

/* Default styles for larger screens */
.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  max-width: 300px;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Sidebar styles */

/* Post List styles */
.post-list {
  margin-top: 10px;
}

.post {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid rgb(10, 10, 10);
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.post:hover {
  background-color: #e0e0e0;
}

.post h2 {
  color: #3399cc; /* Medical-themed blue for titles */
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post p {
  color: rgb(4, 4, 4);
  margin-bottom: 10px;
}

.comment-count {
  display: flex;
  align-items: center;
  color: #777;
}
.comment-count:hover {
  cursor: pointer;
  color: #007bff;
}

.comment-section {
  margin-top: 20px;
}
.comment-list {
  list-style: none;
  padding: 0;
}

.comment {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment:hover {
  background-color: #e5e5e5;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
  margin-right: 10px;
}

.comment-date {
  color: #888;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-buttons {
  display: flex;
  align-items: center;
}

.comment-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #888;
}

.like svg,
.dislike svg {
  margin-right: 5px;
}

/* Comment Count Styles */
.comment-count {
  display: flex;
  align-items: center;
  color: #777;
  margin-top: 20px;
}

.comment-count svg {
  margin-right: 5px;
}

/* Post Detail styles */
.post-detail {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.star-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  color: #777;
  margin-top: 10px;
}

/* Search Bar styles */

.search-bar-container {
  position: relative;
}
.search-bar {
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 5px;
  background-color: #ffffff;
  margin-left: 10px;
}

.profile-image {
  border-radius: 50px;
  width: 50px;
  margin-right: 20px;
}
.search-bar input[type="text"] {
  padding: 8px;
  width: auto;
  border-color: transparent;
  border-radius: 20px;
  background-color: #ffffff;
}

.input-container {
  flex-grow: 1;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.faq-button {
  color: white; /* Text color */
  font-weight: bold;
  font-size: 20px;
}

.faq-button:hover {
  color: #007bff; /* Hover color (blue in this example) */
  background-color: transparent; /* Remove the background color on hover if needed */
}

.button-container {
  display: flex;
  align-items: center;
  /* Add margin to separate the FAQ button and the Settings button */
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Post Form Modal styles */
.post-form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.post-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Adjust the width as needed */
  width: 100%; /* Set the width to 100% to fill the modal */
  position: relative; /* Add this to make absolute positioning work inside the modal */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.post-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.post-form-details {
  margin-top: 20px;
  padding: 0 20px; /* Add horizontal padding */
}

.post-form-details p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #2b2a2a;
}

.post-form-details input,
.post-form-details textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.post-form-details textarea {
  height: 120px;
}

.post-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.post-form button:hover {
  background-color: #0056b3;
}

/* Cover Image styles */
.cover-image {
  background-image: url("/Healthcare-1.jpg"); /* Path to your image in the public folder */
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto; /* Adjust the height as needed */
}

/* AskQ.css */
.ask-content {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.think {
  width: 150px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin to create space between the image and button */
}

.ask-question {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ask-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.text-container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 30px;
  margin: 0;
}

.description {
  font-size: 20px;
  color: #666;
  margin: 0;
}

.ask-button:hover {
  background-color: #555;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.close-button:hover {
  color: #666;
}
.tags-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  z-index: 1; /* Ensure the tags are above the post content */
}

.tag {
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure the tags are above the post content */
}

.tag-input {
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  display: inline-block;
  margin: 0 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link a:hover {
  color: #007bff;
}
.sorting-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  margin-right: 10px; /* Adjust margin as needed */
  margin-bottom: 50px;
}

@media (max-width: 785px) {
  /* Hide the .hide-faqland element on small screens */
  .hide-faqland {
    display: none;
  }
  .HelpIcon {
    display: block;
  }
}

@media (max-width: 550) {
  /* Reset the styles for the post list to make it non-responsive */
  .hide-faqland {
    display: none;
  }
  .HelpIcon {
    display: block;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .comment-date {
    font-size: 4px;
  }
  .tag {
    font-size: 10px;
  }
  .tags h3 {
    display: none;
  }
  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 100%;
  }
  /* Change the display of .ask-content to a vertical layout */

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
    width: 250px;
    height: 50px;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 564px) {
  /* Reset the styles for the post list to make it non-responsive */
  .hide-faqland {
    display: none;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .comment-date {
    font-size: 6px;
  }
  .HelpIcon {
    display: block;
  }
  .tag {
    font-size: 10px;
  }
  .tags h3 {
    display: none;
  }
  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 100%;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    flex-direction: column; /* Change to a column layout */
    align-items: center;
    border-radius: 20px;
    width: 100%;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 500px) {
  /* Reset the styles for the post list to make it non-responsive */
  .HelpIcon {
    display: block;
  }
  .comment-date {
    font-size: 6px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .hide-faqland {
    display: none;
  }
  .tag {
    font-size: 10px;
  }
  .tags h3 {
    display: none;
  }

  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 330px;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 100px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 20px;
    margin: 0;
  }

  .description {
    display: none;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
    width: 250px;
    height: 50px;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 480px) {
  /* Reset the styles for the post list to make it non-responsive */
  .hide-faqland {
    display: none;
  }
  .comment-date {
    font-size: 6px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 290px;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 100px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 20px;
    margin: 0;
  }

  .description {
    display: none;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 110%; /* Limit the width to 30% of the parent container */
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  .tag {
    font-size: 10px;
  }
  .tags h3 {
    display: none;
  }

  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 420px) {
  /* Reset the styles for the post list to make it non-responsive */
  .hide-faqland {
    display: none;
  }
  .comment-date {
    font-size: 6px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 250px;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 100px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 20px;
    margin: 0;
  }

  .description {
    display: none;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 110%; /* Limit the width to 30% of the parent container */
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
    width: 250px;
    height: 50px;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  .tag {
    font-size: 10px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 100%;
  }
  .tags h3 {
    display: none;
  }

  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 360px) {
  /* Reset the styles for the post list to make it non-responsive */
  .hide-faqland {
    display: none;
  }
  .comment-date {
    font-size: 4px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 220px;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 100px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 20px;
    margin: 0;
  }

  .description {
    display: none;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 110%; /* Limit the width to 30% of the parent container */
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
  }
  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  .tag {
    font-size: 9px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 100%;
  }
  .tags h3 {
    display: none;
  }

  /* Add any other styles specific to screens below 576px */
}

@media (max-width: 320px) {
  /* Reset the styles for the post list to make it non-responsive */
  .public {
    position: relative;
    background-image: url("building-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    width: 350px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 130%;
    height: 50px;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .hide-faqland {
    display: none;
  }

  .post-list {
    margin-left: 0px;
    margin-top: 10px; /* Reset the margin-top to the desired value */
    width: 220px;
  }
  /* Change the display of .ask-content to a vertical layout */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 100px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 20px;
    margin: 0;
  }

  .description {
    display: none;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 110%; /* Limit the width to 30% of the parent container */
  }

  .logo {
    max-width: 200px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-left: 40px;
  }

  .search-bar {
    background-color: transparent;
    border-color: transparent;
    margin-left: 0;
    padding-left: 0;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: 120%;
    height: 50px;
    border-color: transparent;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .search-bar-container {
    margin-left: 0;
  }
  .search-icon {
    display: none;
  }
  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .ask-button h3 {
    font-size: 11px;
  }
  .tag {
    font-size: 9px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflowed text */
    max-width: 100%;
  }
  .tags h3 {
    display: none;
  }

  /* Add any other styles specific to screens below 576px */
}

@media (min-width: 992px) and (max-width: 1199px) {
  .public {
    position: relative;
    background-image: url("building-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    width: 2000px;
  }

  .main-content {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    max-width: 1000px;
    margin: 0 10px; /* Center horizontally */ /* Adjust the left and right margins */
    justify-content: start;
  }
  .flex-container {
    display: flex;
    align-items: flex-start;
  }
  .left-component {
    flex: 3; /* Adjust the width of the left component */
    max-width: 150%; /* Limit the maximum width of the left component */
    margin-right: 20px;
  }

  .right-component {
    flex: 2; /* Adjust the width of the right component */
    max-width: 5%; /* Limit the maximum width of the right component */
    margin-left: 20px; /* Move the right component to the end */
    display: flex;
  }

  .content {
    flex: 1;
    padding: 0px;
    margin-left: 20px;
  }
  .morebutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    gap: 10px;
  }
  .morebutton:hover {
    background-color: slategray;
  }
  .HelpIcon {
    display: none;
  }

  /* Header styles */
  header {
    background-color: #93b4d3;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Space the logo and search bar apart */
    align-items: center; /* Center vertically */
  }

  /* Default styles for larger screens */
  .toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    max-width: 300px;
    height: auto;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  /* Sidebar styles */

  /* Post List styles */
  .post-list {
    margin-top: 10px;
  }

  .post {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid rgb(10, 10, 10);
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
  }

  .post:hover {
    background-color: #e0e0e0;
  }

  .post h2 {
    color: #3399cc; /* Medical-themed blue for titles */
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .post p {
    color: rgb(4, 4, 4);
    margin-bottom: 10px;
  }

  .comment-count {
    display: flex;
    align-items: center;
    color: #777;
  }
  .comment-count:hover {
    cursor: pointer;
    color: #007bff;
  }

  .comment-section {
    margin-top: 20px;
  }
  .comment-list {
    list-style: none;
    padding: 0;
  }

  .comment {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .comment:hover {
    background-color: #e5e5e5;
  }

  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .comment-author {
    font-weight: bold;
    margin-right: 10px;
  }

  .comment-date {
    color: #888;
  }

  .comment-text {
    margin-bottom: 10px;
  }

  .comment-buttons {
    display: flex;
    align-items: center;
  }

  .comment-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #888;
  }

  .like svg,
  .dislike svg {
    margin-right: 5px;
  }

  /* Comment Count Styles */
  .comment-count {
    display: flex;
    align-items: center;
    color: #777;
    margin-top: 20px;
  }

  .comment-count svg {
    margin-right: 5px;
  }

  /* Post Detail styles */
  .post-detail {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
  }

  .star-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    color: #777;
    margin-top: 10px;
  }

  /* Search Bar styles */

  .search-bar-container {
    position: relative;
  }
  .search-bar {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 5px;
    background-color: #ffffff;
    margin-left: 10px;
  }

  .profile-image {
    border-radius: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .search-bar input[type="text"] {
    padding: 8px;
    width: auto;
    border-color: black;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .input-container {
    flex-grow: 1;
  }

  .search-bar button {
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .faq-button {
    color: white; /* Text color */
    font-weight: bold;
    font-size: 20px;
  }

  .faq-button:hover {
    color: #007bff; /* Hover color (blue in this example) */
    background-color: transparent; /* Remove the background color on hover if needed */
  }

  .button-container {
    display: flex;
    align-items: center;
    /* Add margin to separate the FAQ button and the Settings button */
    margin-right: 10px; /* Adjust the margin as needed */
  }

  /* Post Form Modal styles */
  .post-form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  .post-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust the width as needed */
    width: 100%; /* Set the width to 100% to fill the modal */
    position: relative; /* Add this to make absolute positioning work inside the modal */
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 1.5rem;
    transition: color 0.2s;
  }

  .post-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
  }

  .post-form-details {
    margin-top: 20px;
    padding: 0 20px; /* Add horizontal padding */
  }

  .post-form-details p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #2b2a2a;
  }

  .post-form-details input,
  .post-form-details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .post-form-details textarea {
    height: 120px;
  }

  .post-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .post-form button:hover {
    background-color: #0056b3;
  }

  /* Cover Image styles */
  .cover-image {
    background-image: url("/Healthcare-1.jpg"); /* Path to your image in the public folder */
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto; /* Adjust the height as needed */
  }

  /* AskQ.css */
  .ask-content {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }

  .think {
    width: 150px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to create space between the image and button */
  }

  .ask-question {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .ask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-size: 30px;
    margin: 0;
  }

  .description {
    font-size: 20px;
    color: #666;
    margin: 0;
  }

  .ask-button:hover {
    background-color: #555;
  }

  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 1.5rem;
    transition: color 0.2s;
  }

  .close-button:hover {
    color: #666;
  }
  .tags-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    z-index: 1; /* Ensure the tags are above the post content */
  }

  .tag {
    background-color: #007bff;
    color: #fff;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure the tags are above the post content */
  }

  .tag-input {
    margin-bottom: 10px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-link {
    display: inline-block;
    margin: 0 10px;
  }

  .footer-link a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-link a:hover {
    color: #007bff;
  }
  .sorting-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    margin-right: 10px; /* Adjust margin as needed */
    margin-bottom: 50px;
  }
}
